@use 'typography.scss';

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    width:100vw;
    overflow-x:hidden;
}

.page__container{
    width:100%;
}



.hero__bg{
    width:100%;
    height:100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.661) ,rgba(22, 22, 22, 0.67)) , url(../assets/background.png);
   background-position: center;
   background-size: cover;
}

.hero__text{
    @include typography.flex;
    @include typography.sectionPadding;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: flex-start;
}

.hero__text div{
    @include typography.flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    padding:1rem 1rem;

 h1{
    @include typography.HeadText;

}

h3{
    font-family:Poppins;
    color:#aaa;
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: bold;
    @media screen and (max-width:650px) {
        text-align: center;
    }
}

p{
    @include typography.pText;
}

button{
    @include typography.button;
}

}


.app__about{
    @include typography.sectionPadding;
    margin-top: 3rem;
    width:100%;
    display: flex;
    flex-direction: column;
    
    .about__headtext{
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            @include typography.HeadText;
            color:purple !important;
        }
    }

    .about__images{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 1rem;

        img{
            margin-inline:.4rem;
            width: 250px;
            object-fit: cover;
            border-radius: 10px;
margin-bottom: .8rem;
            @media screen and (max-width:650px){
                width: 150px;
            }
        }
    }

    .about__content{
        width: 100%;
        padding: 1rem 2rem;
        margin-top: 1.4rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        p{
           font-size:1.1rem;
           font-family: Poppins;
           text-align: left;
           line-height: 1.8rem;
           color:rgb(66, 63, 63);
           margin-top: 1.4rem;

          @media screen and (max-width:650px) {
            p{
                &:nth-child(2){
                    text-align: right;
                    align-self: flex-end;
                }
            }
          }
           }
        }
        
    }


    .app__objectives{
        @include typography.sectionPadding;
        width: 100%;
        display:flex;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;

        .objectives__image{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width:80%;
                padding: 1rem;
            }
        }

        .objectives__headText{
            @include typography.HeadText;
            color:purple;
            margin-top: 2rem;
            font-size: 1.4rem;
            font-family: Poppins;

            @media screen and (max-width:650px){
                font-size: 1.1rem;
            }
        }

        .objectives__content{
            padding: 1rem;
             margin-top: 1rem;

             ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 1rem;

                li{
                    @include typography.pText;
                    padding: .6rem 1rem;
                    color: black;
                    font-size: 1rem;
                    font-weight: 500;

                    &::marker{
                        color:purple;
                        
                    }

                    @media screen and (max-width:650px) {
                        text-align: left;
                    }
                }
             }
        }
       .objectives__cta{
        width: 80%;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        button{
            @include typography.button;
        background-color: rgb(49, 10, 140);
       padding-inline: 3rem;

@media screen and (max-width:650px) {
    align-self: flex-start;
    margin: 0;
}
        } 
       }
    }



    // got out linebreak

    .linebreak{
        @include typography.sectionPadding;
  display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin-top: 1.5rem;
        .linebreak__img{
            width:80%;
            padding: 1rem;
          
            img{
                width: 100%;
            }
        }

        .linebreak__text{
            width: 80%;
            padding: 1rem;
            margin-top: 1.3rem;

            p{
                @include typography.pText;
                color:black;
                text-align: center;
                font-weight: bold;

              
            }
        }
    }


    //vision and mission

    .app__vm{
        @include typography.sectionPadding;
        width: 100%;
        display:flex;
justify-content: space-between;
margin: auto;
padding: 1rem 3rem;
        .vision{
        flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
           
            padding: 1rem;
        h1{
            @include typography.HeadText;
            color:purple;
            margin-bottom: 1.3rem;
            // font-size: 1.4rem;
        }

        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;
            width: 100%;

            li{
                @include typography.pText;
                padding: .6rem 1rem;
                color: black;
                font-size: .9rem;
                font-weight: 500;

                &::marker{
                    color:purple;
                    
                }

                @media screen and (max-width:650px) {
                    text-align: left;
                }
            }
         }
        
        }

        @media screen and (max-width:650px) {
          flex-direction: column;  
        }
    }