@use 'typography.scss';

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    width:100vw;
    overflow-x:hidden;
}

.page__container{
    width:100%;
}



.hero__bg{
    width:100%;
    height:100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.661) ,rgba(22, 22, 22, 0.67)) , url(../assets/background.png);
   background-position: center;
   background-size: cover;
}

.hero__text{
    @include typography.flex;
    @include typography.sectionPadding;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: flex-start;
}

.hero__text div{
    @include typography.flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    padding:1rem 1rem;

 h1{
    @include typography.HeadText;

}

h3{
    font-family:Poppins;
    color:#aaa;
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: bold;
    @media screen and (max-width:650px) {
        text-align: center;
    }
}

p{
    @include typography.pText;
}

button{
    @include typography.button;
}

}