.client-container {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;


    .client-name {
        font-family: 'Bebas Neue';
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: .125rem;
        clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
        line-height: 5.9rem;
        .char {
            transform: translateY(155px);
            transition: transform 0.5s;
        }
    }


}